<div class="container-fluid">
  <header class="jumbotron">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAD6//kA/JUCAPyVAQD///8A/5UCAPz++wD9kwIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMzMzMzMzMzMzMzMxEzMzMzMzMVEQEzMzMzExRiQTEzMzMxFERBEzMzMRRDMzEREzMzFDERE0EzMxEUMRETQREzERQxERNBETMzFDERE0EzMzFEQzM0ERMzMzEUERETMzMzExERETEzMzMzExExMzMzMzMzETMzMzMzMzMzMzMzMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
    <h1>
      {{ title }}
    </h1>
    <h5>{{ subtitle }}</h5>
  </header>
  <body>
  <app-quotes></app-quotes>

  </body>
  <footer style="text-align: center; min-height: 40px; padding-top: 30px;">
   {{ footer }}
  </footer>
</div>
